/* ------------login page styling ---------- */

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box{
    border: 1px solid darkgrey;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box img{
    width: 200px;
    height: 90px;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.credentials p{
    border: 1px solid darkgrey;
    border-radius: 2px;
    width: 300px;
    height: 50px;
    font-size: smaller;
    color: lightslategray;
    padding-left: 5px; 
}

#login-button{
    border-color: white;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #42b9f5;
    text-align: center;
    padding-top: 9px;
    
}

/* -------------- feed page styling ------------------ */

.feed-box{
    background-color: black;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-box img{
    width: 400px;
    height: 50px;
    align-self: center;
    border-bottom: 0.5px solid lightslategray;
}

#username-box{
    display: flex;
    border-bottom: 0.5px solid lightslategray;
    width: 400px;
    height: 70px;
}

#username-box img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
}


#username-text{
    display: flex;
    flex-direction: column;
}

#dots{
    padding-left: 160px;
    font-weight: bold;
    color: white;
}

#username{
font-weight: bold;
color: white;
margin: 0;
padding-top: 15px;
padding-left: 5px;
}

#location{
margin: 0;
padding-left: 5px;
color: lightgrey;
}

#feed-img{
    height: 400px;
    width: 300px;
}

#likes{
    color: lightgrey;
    align-self: flex-start;
    padding-left: 10px;
    font-weight: bolder;
}

.bottom-text{
    display: flex;
    align-self: flex-start;
    color: white;
}